.navbar{

    /* background-color: aquamarine; */
}
.footer{

    /* background-color: aquamarine; */
}
.products{
    overflow: hidden;
    width: 100%;
}
.carousel-wrapper{
    margin-top: 5%;
    overflow: hidden;
    
}