/* .home-product{
    display: block;
} */
.product-box{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    width: 15rem;
    height: auto;
}
.image-continer{

   height: 10rem;
   width: 10rem;
}
.image{
    height: auto;

  
}
.product-details{
    color: black;
    margin-top: 10%;

}